@import url("./reset.css");
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard.woff") format("woff");
}

body { font-family: "Pretendard"; }

// 웹 접근성
.hide-txt {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px)
}


// 헤더
header {
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 120px;
  line-height: 120px;
  text-align: center;
  z-index: 20;
  opacity: 0;
  .logo {
    width: 66px;
    height: 53px;
    background: url('../image/logo.png') 50% 50% / 100% no-repeat;
  }
}

// 최상단 부모
.container { 
  width: 100%; 
  height: 100%;
  .contents {
    width: 100%;
    height: 100%;
  }
}

// 챕터 1
.chapter-01 {
  position: absolute;
  width: 100%;
  height: 100%;

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

    dl {
      display: flex;
      justify-content: center;
    }

    .tit {
      position: absolute;
      top:15%;
      font-size: 120px;
      line-height: 1.2;
      font-weight: 500;
      z-index: 10;
      mix-blend-mode: soft-light;
      color: #000000;
      opacity: 0.5;
    }

    .desc {
      position: absolute;
      bottom: 0;
      font-size: 60px;
      line-height: 1.2;
      font-weight: 500;
      z-index: 10;
      color: white;
    }
  }

  .img_contents {
    position: absolute;
    bottom: 80px;
    width: 500px;
    height: 800px;
    overflow: hidden;
    img {
      position: absolute;
      display: block;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit:cover;
    }
  }
}