@charset "UTF-8";
@import url("./reset.css");
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard.woff") format("woff");
}
body {
  margin: 0;
  padding: 0;
}

:root {
  --pc-width: 1400px;
}

.hide-txt {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  line-height: 120px;
  text-align: center;
}
header .logo {
  width: 66px;
  height: 53px;
  background: url("../image/logo.png") 50% 50%/100% no-repeat;
}

.contents {
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.contents .tit {
  margin-top: 60px;
  font-size: 45px;
  font-weight: 700;
}
.contents .breadcrumbs {
  font-size: 20px;
  font-weight: 500;
  color: #999;
}
.contents .tit-sub {
  font-size: 25px;
  font-weight: 500;
  margin-top: 40px;
}

.tab {
  position: relative;
  display: flex;
  justify-content: center;
}
.tab li {
  padding: 0 20px;
  font-size: 20px;
  color: #bababa;
  cursor: pointer;
}
.tab li.is-active {
  color: #000;
  text-decoration: underline;
}

/*
  1. linear : 전환(transition) 효과가 처음부터 끝까지 일정한 속도로 진행됩니다. 
  2. ease : 기본값으로, 전환(transition) 효과가 천천히 시작되어, 그다음에는 빨라지고, 마지막에는 다시 느려집니다.
  3. ease-in : 전환(transition) 효과가 천천히 시작됩니다.
  4. ease-out : 전환(transition) 효과가 천천히 끝납니다.
  5. ease-in-out : 전환(transition) 효과가 천천히 시작되어, 천천히 끝납니다.
  6. cubic-bezier(n,n,n,n) : 전환(transition) 효과가 사용자가 정의한 cubic-bezier 함수에 따라 진행됩니다.
*/
.swiper-paralix {
  width: 100%;
  height: 500px;
  margin-top: 30px;
  transition-timing-function: linear;
}
.swiper-paralix .swiper-slide {
  overflow: hidden;
}

.swiper-carousel {
  margin-top: 30px;
}

.swiper-carousel {
  padding-bottom: 20px !important;
}

.swiper-carousel .swiper-slide {
  position: relative;
  overflow: hidden;
  transition: transform 0.4s ease;
}