html, body {
  margin: 0;
  height: 100%;
}

/* styles.css */
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.panel {
  position: absolute;
  width: 100%;
  height: 100%;
}

.panel.blue {
  background-color: blue;
  z-index: 5;
}

.panel.red {
  background-color: red;
  z-index: 4;
}

.panel.orange {
  background-color: orange;
  z-index: 3;
}

.panel.purple {
  background-color: purple;
  z-index: 2;
}

.panel.green {
  background-color: green;
  z-index: 1;
}