html,
body {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  position: relative;
}

.chapter-01 {
  position: relative;
  width: 100%;
  height: 2000px;
}

.chapter-02 {
  position: relative;
  height: auto;
  .page {
    position: relative;
    height: 2000px;
    z-index: 4;
    background: beige;
  }

  .full-page {
    position: relative;
    height: 100vh;
  }

  .section01 {
    position: absolute;
    height: 100vh;
    z-index: 3;
    img {
      width: 100%;
      height: 100%;
    }
  }
  
  .section02 {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2;
    img {
      width: 100%;
      height: 100%;
    }
  }
  
  .section03 {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
    }
  }
}



.chapter-03 {
  position: relative;
  .section04 {
    img {
      width: 100%;
    }
  }
}