html,
body {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  position: relative;
}

.chapter-01 {
  position: relative;
  width: 100%;
  height: 2000px;
}

.chapter-02 {
  position: relative;
  height: auto;
}
.chapter-02 .page {
  position: relative;
  height: 2000px;
  z-index: 4;
  background: beige;
}
.chapter-02 .full-page {
  position: relative;
  height: 100vh;
}
.chapter-02 .section01 {
  position: absolute;
  height: 100vh;
  z-index: 3;
}
.chapter-02 .section01 img {
  width: 100%;
  height: 100%;
}
.chapter-02 .section02 {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 2;
}
.chapter-02 .section02 img {
  width: 100%;
  height: 100%;
}
.chapter-02 .section03 {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.chapter-02 .section03 img {
  width: 100%;
  height: 100%;
}

.chapter-03 {
  position: relative;
}
.chapter-03 .section04 img {
  width: 100%;
}