@import url("./reset.css");
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard.woff") format("woff");
}
body {
  margin: 0;
  padding: 0;
}

:root {
  --pc-width: 1400px;
}

.hide-txt {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  line-height: 120px;
  text-align: center;
}
header .logo {
  width: 66px;
  height: 53px;
  background: url("../image/logo.png") 50% 50%/100% no-repeat;
}

.contents {
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.contents .tit {
  margin-top: 60px;
  font-size: 45px;
  font-weight: 700;
}
.contents .breadcrumbs {
  font-size: 20px;
  font-weight: 500;
  color: #999;
}
.contents .tit-sub {
  font-size: 25px;
  font-weight: 500;
  margin-top: 40px;
}

.tab {
  position: relative;
  display: flex;
  justify-content: center;
}
.tab li {
  padding: 0 20px;
  font-size: 20px;
  color: #bababa;
  cursor: pointer;
}
.tab li.is-active {
  color: #000;
  text-decoration: underline;
}

.tab + .swiper-carousel {
  margin-top: 30px;
}

.swiper-carousel {
  padding-bottom: 20px !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: none;
  object-position: 60%;
  transition-duration: 1s;
}

.swiper-slide.swiper-slide-active img {
  object-position: 50%;
}

.swiper-carousel-02 {
  margin-top: 50px;
  padding-bottom: 20px !important;
}
.swiper-carousel-02 .swiper-pagination {
  top: inherit !important;
  bottom: 0;
}

.swiper-carousel-03 {
  margin-top: 50px;
  padding-bottom: 20px !important;
}
.swiper-carousel-03 .swiper-pagination {
  top: inherit !important;
  bottom: 0;
}

img {
  display: block;
  width: 100%;
}